// using @use or @forward instead @import
@use './pages/index.scss';

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease-out;
}

div[data-widget-id="2064115"] {
  min-height: 300px;
}

html.dark {
  div[data-type="_mgwidget"] {
    &, * {
      color: #e4e4e7 !important;
    }
  }
}
